<%= semantic_form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :name, :input_html => {:class => 'span6'} %>
    <%= f.input :url, :label => 'URL', :input_html => {:class => 'span6'} %>
    <%= f.input :description, :as => :text, :input_html => {:class => 'span6'} %>
    <%= f.input :categories, :label => 'Categories', :hint => 'Separate each category with a comma.', 
      :input_html => {:class => 'span6', :value => @profile.categories.join(', ')} %>
    <p class="span6">Categories in use include: 
    <%= @categories.map{|cat| cat['_id']}.join(', ') %>
            
    </p>
  <% end -%>
  <%= f.buttons do %>
    <%= f.commit_button :button_html => { :class=> [:btn, 'btn-large'] } %>
  <% end -%>
  
<% end %>
