<%= semantic_form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :name, :input_html => {:class => 'span6'} %>
    <%= f.input :url, :input_html => {:class => 'span6'} %>
    <%= f.input :description, :as => :text, :input_html => {:class => 'span6'} %>
  <% end -%>
  <%= f.buttons do %>
    <%= f.commit_button :button_html => { :class=> [:btn, 'btn-large'] } %>
  <% end -%>
  
<% end %>
