<h2><%= params[:category] %> Collection Profiles</h2>

<% if @categories %>
  <div id="categories">
    <% @categories.each do |category| %>
      <span class="category">
        <%= link_to category['_id'], profiles_path(:category => category['_id']) %>&nbsp;(<%= category['value'].to_i %>)  
      </span>
    <% end -%>
  </div>
<% else %>
  <%= link_to 'See all profiles', profiles_path %>
<% end -%>


<div>
  <% if params[:category]%>
    <%= @profiles.length %> Collection Profiles in the <%= params[:category] %> category.
  <% else %>
    <%= @profiles.length %> total Collection Profiles.     
  <% end -%>
</div>

<% if true %>
<div id="profiles">
  <% @profiles.each do |profile| %>
    <div class="profile">
      <h3><%= link_to profile.name, profile %></h3>
      <div><%= link_to truncate(profile.url, :length => 50), profile.url, :title => profile.url %></div>
      <% if profile.achievement_count > 0 %>
        <div><%= profile.achievement_count %> completed <%= profile.achievement_count == 1 ? 'achievement' : 'achievements' %>.</div>
      <% end -%>
      <% if profile.categories.length > 0 %>
      <div><%= profile.categories.join(', ')%></div>
      <% end -%>
      
      <div><%= truncate(profile.description, :length => 150, :separator => ' ') %></div>
    </div>
  <% end %>
</div>
<% end -%>


<br />

<%= link_to 'New Profile', new_profile_path %>
