<h1><%= link_to 'Users', users_path %> > <%= @user.name %></h1>

<p>
  <%= image_tag @user.image if @user.image %>
</p>

<p>
  Name: <%= @user.name %>
</p>

<p>
  Nickname: <%= @user.nickname %>
</p>

<p>
  Twitter: <%= link_to @user.twitter, @user.twitter, :rel => 'nofollow' %>
</p>

<p>
  Website: <%= link_to @user.website, @user.website, :rel => 'nofollow' %>
</p>

<% if !@user.edits.blank? %>
<h2>Edits</h2>
<%= render :partial => '/edits/table', :locals => {:edits => @user.edits} %>
<% end -%>


<% if Rails.env == 'development' %>
  <%= debug @user %>
  <%= debug @user.edits.map{|edit| edit} %>
<% end -%>