<h1>About</h1>

<p>The Collection Achievements and Profiles System (CAPS) application was written by 
<%= link_to 'Jason Ronallo', 'http://jronallo.github.com/'%>. It is 
<%= link_to 'based on work', 'http://go.ncsu.edu/dplacaps' %> done with 
<%= link_to 'Tito Sierra', 'https://twitter.com/#!/tsierra' %>
to <%= link_to 'specify CAPS', 'http://go.ncsu.edu/dplacaps'%> 
as part of the 
<%= link_to 'Digital Public Library of America', 'http://dp.la/' %> 
<%= link_to 'Beta Sprint', 'http://blogs.law.harvard.edu/dpla/' %>.
</p>

<p>
Source code is available on <%= link_to 'github', 'https://github.com/jronallo/capsys' %>.  
</p>
