<p id="notice"><%= notice %></p>

<h2><%= link_to @profile.name, @profile %> > Robots.txt</h2>

<div class="row">
  <div class="span8">
    <p>
      <b>Updated At:</b>
      <%= @robotstxt.updated_at %>
    </p>
    
    
    <%= simple_format @robotstxt.text %>
    
    <%= link_to 'Back to Profile', profile_path(@profile), :class => 'btn btn-primary' %>
    
    <% if current_user %>
      <br/><br/>
      <%= button_to "Destroy", {:action => :destroy, :id => @robotstxt.id}, 
                :class => 'destroy btn btn-danger', :method => :delete %>
    <% end -%>
  </div>
  
  <div class="span4" id="sidebar">
    <%= render :partial => 'description'%>
    <%= render :partial => '/layouts/provide_resources'%>
  </div>
  
</div>