<p id="notice"><%= notice %></p>

<h2><%= link_to @profile.name, @profile %></h2>

<p>
  <b>Updated At:</b>
  <%= @robotstxt.updated_at %>
</p>


<%= simple_format @robotstxt.text %>

<%= link_to 'Back to Profile', profile_path(@profile), :class => 'btn btn-primary' %><br/><br/>
<%= button_to "Destroy", {:action => :destroy, :id => @robotstxt.id}, 
            :class => 'destroy btn btn-danger', :method => :delete %>
