<!DOCTYPE html>
<html>
<head>
  <title>Collection Achievements and Profiles System</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => '/layouts/navbar'%>
  <div id="main"  class="container">
    
    
    <%= yield %>
    <%= yield :sidebar %>
    <div class="clear"></div>
  </div>

</body>
</html>
