<!DOCTYPE html>
<html>
<head>
  <title>Collection Achievements and Profiles System</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main"  class="container_12">
    <h1 class="grid_12"><%= link_to "Collection Achievements and Profiles System", root_path %></h1>
    <%= yield %>
    <%= yield :sidebar %>
    <div class="clear"></div>
  </div>

</body>
</html>
